/* Universal */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.main-header {
    font-size: 40px;
}

.food {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Index */

#background {
    background-color: #111827;
    color: #E5E7EB;
}

.recipes-box {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 150px 0;
}

.recipe-img {
    display: block;
    object-fit: cover;
    width: 600px;
    height: 400px;
    border-radius: 8px;
}

.img {
    display: block;
    position: relative;
}

.img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
    border-radius: 8px;
}

.img-overlay > * {
    transform: translateY(20px);
    transition: transform 0.25s;
}

.img-overlay:hover {
    opacity: 1;
}

.img-overlay:hover > * {
    transform: translateY(0);
}

/* Universal Recipe Pages */

.banner, .banner-right {
    display: flex;
    align-items: center;
}

.banner {
    justify-content: space-between;
    margin: 30px 10%;
}

.banner-right, .banner-right ul {
    gap: 20px;
}

.banner-right ul {
    display: flex;
    list-style: none;
}

.banner a {
    text-decoration: none;
    color: #E5E7EB;
}

.banner h1 {
    font-size: 42px;
}

.banner li {
    font-size: 18px;
}

.banner-list a:hover {
    border-bottom: solid 1px #E5E7EB;
}

.banner-right button {
    background-color: #829ab1;
    color: black;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.hero {
    display: flex;
    align-items: center;
    margin: 150px 10%;
    gap: 80px;
}

.hero h1, .hero p, .page-section h2, .page-section p {
    margin: 20px 0
}

.page-section {
    padding-bottom: 80px;
}

.hero p, .page-section p, .page-section li {
    line-height: 30px;
}

.mini-list-item {
    margin-left: 40px;
}

.page-section {
    margin: 0 10%;
}

.adobada {
    color: red;
}

/* Birria */

.birria {
    color: #5C1916;
}

/* Pho */

.pho {
    color: #9B6F3B;
}